@import url("https://fonts.cdnfonts.com/css/josefin-sans");
@import url("https://fonts.cdnfonts.com/css/aleo-2");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
body h1, body h2, body h3, body p {
  margin: 0;
}

.upper {
  height: 100vh;
  background: url(../images/header/header-background.png) no-repeat;
  background-size: cover;
}
.upper .upper__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 277px;
}
.upper .upper__info .upper__info__title {
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.upper .upper__info .upper__info__description {
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 6.82px;
  color: #FFFFFF;
}
.upper .upper__info .search {
  display: flex;
  align-items: center;
  background-color: white;
  width: 653px;
  margin-bottom: 108px;
}
.upper .upper__info .search .search__data {
  border: none;
  padding: 19px 113px;
  width: 277px;
  height: 26px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2.8px;
  color: #999999;
}
.upper .upper__info .search .search__data:focus {
  outline: none;
}
.upper .upper__info .search .search__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5474FD;
  border: 2px solid #FFFFFF;
  height: 62px;
  width: 153px;
  font-family: "Aleo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.upper .upper__info .search .search__btn:hover {
  background-color: #3d60fe;
}
.upper .upper__info .search .search__btn .search__icon {
  padding-left: 10px;
  width: 22px;
  height: 24px;
}
.upper .upper__info .scroll__down {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 132px;
}
.upper .upper__info .scroll__down .scroll__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upper .upper__info .scroll__down .scroll__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  color: #FFFFFF;
}
.upper .upper__info .scroll__down .scroll__icon {
  width: 17px;
  height: 11px;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 410px;
  background: #5474FD;
}
nav .nav__logo {
  padding-top: 31px;
  padding-bottom: 31px;
}
nav .nav__menu__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
nav .nav__menu__items .nav__link {
  color: white;
  text-decoration: none;
}
nav .nav__menu__items .nav__link .nav__menu__item {
  list-style: none;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  transition: transform 0.3s ease-in-out;
}
nav .nav__menu__items .nav__link .nav__menu__item:hover {
  transform: scale(1.2);
}

.chooseus__section {
  background: url(../images/chooseus/background.png) no-repeat;
  background-size: cover;
}
.chooseus__section .chooseus__content {
  display: flex;
  justify-content: center;
  gap: 280px;
}
.chooseus__section .chooseus__content .chooseus__info {
  padding-top: 211px;
  padding-bottom: 117px;
}
.chooseus__section .chooseus__content .chooseus__info .chooseus__info__title {
  margin-bottom: 50px;
  font-family: "Aleo";
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  color: #FFFFFF;
}
.chooseus__section .chooseus__content .chooseus__info .chooseus__info__desc {
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 560px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  color: #E8E8E8;
}
.chooseus__section .chooseus__content .chooseus__info .chooseus__btn {
  width: 228px;
  height: 63px;
  border: none;
  background: linear-gradient(45deg, #496BFE 0%, #496BFE 43%, #5474FD 43%, #5474FD 100%);
  font-family: "Aleo";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  transition: transform 250ms;
}
.chooseus__section .chooseus__content .chooseus__info .chooseus__btn:hover {
  transform: translateY(-5px);
}
.chooseus__section .chooseus__content .chooseus__img {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 118px;
  perspective: 1000px;
}
.chooseus__section .chooseus__content .chooseus__img .img__up {
  margin-right: 100px;
  transition: transform 250ms;
}
.chooseus__section .chooseus__content .chooseus__img .img__up:hover {
  transform: translateZ(100px);
}
.chooseus__section .chooseus__content .chooseus__img .img__down {
  margin-left: 100px;
  transition: transform 250ms;
}
.chooseus__section .chooseus__content .chooseus__img .img__down:hover {
  transform: translateZ(100px);
}

.whatwhedo__section {
  background-color: #333333;
}
.whatwhedo__section .whatwhedo__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 158px;
  padding-top: 80px;
  padding-bottom: 116px;
}
.whatwhedo__section .whatwhedo__content .whatwhedo__shape {
  position: absolute;
  margin-top: -100px;
  z-index: 1;
}
.whatwhedo__section .whatwhedo__content .whatwhedo__element {
  display: flex;
  z-index: 2;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}
.whatwhedo__section .whatwhedo__content .whatwhedo__element .icon__back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: #333333;
}
.whatwhedo__section .whatwhedo__content .whatwhedo__element .element__name {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  color: #E8E8E8;
}

.travel__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.travel__spain__up {
  display: flex;
  justify-content: center;
  background: url(../images/travel/spain-backgroun-up.png) no-repeat;
  background-size: cover;
  height: 700px;
}
.travel__spain__up .wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 1200px;
  width: 100%;
}
.travel__spain__up .travel__info__left {
  margin-top: 217px;
  width: 543px;
  height: 374px;
  background: #232323;
  opacity: 0.9;
}
.travel__spain__up .travel__info__left .travel__info {
  margin-top: 48px;
  margin-left: 32px;
}
.travel__spain__up .travel__info__left .travel__info .travel__country {
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1.5px;
  color: #E8E8E8;
}
.travel__spain__up .travel__info__left .travel__info .travel__location {
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.travel__spain__up .travel__info__left .travel__info .travel__desc {
  margin-bottom: 46px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #E8E8E8;
}
.travel__spain__up .travel__info__left .travel__info .travel__btn {
  width: 228px;
  height: 63px;
  border: none;
  background: linear-gradient(45deg, #496BFE 0%, #496BFE 43%, #5474FD 43%, #5474FD 100%);
  font-family: "Aleo";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  transition: transform 250ms;
}
.travel__spain__up .travel__info__left .travel__info .travel__btn:hover {
  transform: translateY(-5px);
}

.travel__spain__down {
  display: flex;
  justify-content: center;
  background: url(../images/travel/spain-background-down.png) no-repeat;
  background-size: cover;
  height: 700px;
}
.travel__spain__down .wrapper2 {
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  width: 100%;
}
.travel__spain__down .travel__info__right {
  margin-top: 217px;
  width: 543px;
  height: 374px;
  background: #232323;
  opacity: 0.9;
}
.travel__spain__down .travel__info__right .travel__info {
  margin-top: 48px;
  margin-left: 32px;
}
.travel__spain__down .travel__info__right .travel__info .travel__country {
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1.5px;
  color: #E8E8E8;
}
.travel__spain__down .travel__info__right .travel__info .travel__location {
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.travel__spain__down .travel__info__right .travel__info .travel__desc {
  margin-bottom: 46px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #E8E8E8;
}
.travel__spain__down .travel__info__right .travel__info .travel__btn {
  width: 228px;
  height: 63px;
  border: none;
  background: linear-gradient(45deg, #496BFE 0%, #496BFE 43%, #5474FD 43%, #5474FD 100%);
  font-family: "Aleo";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  transition: transform 250ms;
}
.travel__spain__down .travel__info__right .travel__info .travel__btn:hover {
  transform: translateY(-5px);
}

.testimonial {
  background: url(../images/testimonial/background.png) no-repeat;
  background-size: cover;
}
.testimonial .testimonial__content {
  padding-bottom: 200px;
}
.testimonial .testimonial__title {
  padding-top: 128px;
  text-align: center;
  font-family: "Aleo";
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  color: #FFFFFF;
}
.testimonial .testimonial__block {
  margin-top: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial .testimonial__block .testimonial__img {
  height: 284px;
}
.testimonial .testimonial__block .testimonial__info {
  background: #333333;
  width: 668px;
  height: 287px;
}
.testimonial .testimonial__block .testimonial__info .info__client__name {
  padding-top: 49px;
  padding-left: 59px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FEFEFE;
}
.testimonial .testimonial__block .testimonial__info .info__client__quote {
  padding-left: 59px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFF;
  width: 581px;
}
.testimonial .testimonial__block .testimonial__info .info__client__quote .quote {
  color: #5474FD;
  font-size: 42px;
  margin-right: 10px;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #232323;
}
footer .company {
  padding-top: 120px;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 3.36px;
  text-transform: uppercase;
  color: #FFFFFF;
}
footer .company__quote {
  padding-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  color: #FFFFFF;
}
footer .social__media {
  padding-top: 26px;
  padding-bottom: 46px;
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .social__media .social__icon {
  color: #FFF;
  width: 16px;
  height: 16px;
  transition: color 0.2s ease;
}
footer .social__media .social__icon:hover {
  color: #5474FD;
}

/* Target small smartphones */
@media screen and (max-width: 575px) {
  .search {
    margin-right: 200px;
    width: 175px !important;
  }
  .search .search__data {
    font-size: 12px !important;
    padding: 0;
    width: 50px !important;
  }
  .search .search__btn {
    padding: 0;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 12px !important;
    width: 100px !important;
  }
  .search .search__btn .search__icon {
    width: 16px !important;
    height: 16px !important;
  }
  nav {
    display: none;
  }
  .chooseus__content {
    display: flex;
    flex-direction: column;
  }
  .chooseus__content .chooseus__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0 !important;
  }
  .chooseus__content .chooseus__info .chooseus__info__desc {
    text-align: center;
    width: 320px !important;
  }
  .chooseus__content .chooseus__img {
    padding-top: 0 !important;
  }
  .whatwhedo__content {
    display: flex;
    flex-direction: column;
  }
  .whatwhedo__content .whatwhedo__shape {
    display: none;
  }
  .travel__spain__up .travel__info__left {
    margin-left: 45px;
    width: 300px;
  }
  .travel__spain__up .travel__info__left .travel__desc {
    text-align: center;
    padding-right: 45px !important;
  }
  .travel__spain__up .travel__info__left .travel__btn {
    margin-left: 20px;
  }
  .travel__spain__down .travel__info__right {
    margin-right: 45px;
    width: 300px;
  }
  .travel__spain__down .travel__info__right .travel__desc {
    text-align: center;
    padding-right: 45px !important;
  }
  .travel__spain__down .travel__info__right .travel__btn {
    margin-left: 20px;
  }
  .testimonial__block {
    display: flex;
    flex-direction: column;
  }
  .testimonial__block .testimonial__img {
    width: 340px !important;
    margin-bottom: -70px;
  }
  .testimonial__block .testimonial__img img {
    width: 100%;
  }
  .testimonial__block .testimonial__info {
    width: 340px !important;
    height: 400px !important;
  }
  .testimonial__block .testimonial__info .info__client__name {
    padding-left: 0 !important;
    text-align: center;
  }
  .testimonial__block .testimonial__info .info__client__quote {
    text-align: center;
    padding-left: 10px !important;
    width: 320px !important;
  }
}

/*# sourceMappingURL=index.css.map */
